th{
  font-size: 20px;
  margin-left: 5px;
  background-color:#cca6bf;
}

p{
	font-size:20px;
}
#myTable .tablesorter-header {
  cursor: pointer;
  outline: none;
}
#myTable .tablesorter-header-inner::after {
  content: '▼';
  font-size: 12px;
  margin-left: 5px;
}